body{
  text-align: center; 
  background: #00d2ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  overflow-x: hidden;
 
  background-image: url("https://www.transparenttextures.com/patterns/skulls.png"),linear-gradient(to right, #3a7bd5, #00d2ff);
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  

}

.login-img{
  background-image: url("../src/images/login-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 100vh;
  position: relative;
  z-index: -2;
}

.overlay{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: rgb(97, 97, 81);
  opacity: 0.5;
  z-index: -1;
  mix-blend-mode:saturation;
}

.login-container{
  position: relative !important;
  height: 100vh;

  background-image: url("https://www.transparenttextures.com/patterns/skulls.png"),linear-gradient(to right, #3a7bd5, #00d2ff);
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  
}

.posts-container{
  flex: 1;
}

.login{
background-color: whitesmoke;
padding: 25px;
width: 50%;
border-radius: 10px;
margin: 15% auto;
}

.login-title{
  margin: 25px 0;
}

.login h2{ 
color: #00B4DB
}

.slogan h1{
  padding: 50px;
  font-family: 'Pacifico', cursive;
  margin: 0;
 
}

.main-page{
  width: 500px;
  margin: auto;
  background-color: white;
  height: 100%;
  padding: 20px;
  border-radius: 0 0 25px 25px;
 
}

nav{
  position: fixed;
  height: 100vh;
  overflow-x: hidden;
  top: 0;
  left: 0;
  z-index: 1;
  border-right: 2px solid dodgerblue;
  padding: 0 10px;
}


h1{
  color: whitesmoke;
  font-family: 'Pacifico', cursive;
}

h2{
  font-family: 'Nunito', sans-serif;
  color: whitesmoke;
  
}

textarea{
  padding: 10px;
  border-radius: 10px;
  border: none;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  resize: none;
  border: 1px silver solid;
}

button{
  padding: 10px;
  border-radius: 10px;
  border: none;
  display: block;
  margin: 25px auto;
  cursor: pointer;
  
}

.comment-content, .post-content{
  word-wrap: break-word;
}

.post-container button{
  padding: 10px;
  border-radius: 10px;
  border: none;
 
  margin: 25px auto;
  float: right;
  vertical-align: bottom;
}

.post-container, .comment-container{
  padding: 25px;
  background-color: whitesmoke;
  color: black;
  text-align: left;
  margin: 25px auto;
  border-radius: 15px;
  border: 3px dodgerblue solid;
  font-family: 'Encode Sans', sans-serif;
}

.comment-container{
  width: 90%;
}


.post-container h2{
display: inline-block;
vertical-align: bottom;
margin-left: 25px;
font-family: 'Encode Sans', sans-serif;

}
.post-container p{
 font-size: 1.2rem;
 word-wrap: break-word;
 color: black;

}

.post-container button{
  border: 2px dodgerblue  solid;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
  
}

.post-container button:hover{
  background-color: dodgerblue;
  transition: ease-in;
  transition-duration: 150ms;
}


.profile-details{
  border-bottom:  2px dodgerblue solid;
  margin-bottom: 25px;
  padding: 25px;
}

.profile-name{

  background-color: dodgerblue;
  color: whitesmoke;
  padding: 7.5px ;
  border-radius: 15px;
 
}

.profile-pic{
  width: 50px;
  border-radius: 50%;
}

.comment-input{
  text-align: left;
  
}

.comment-btn{
  border-radius: none;
  border: none;
  cursor: pointer;
}

.comment-input input{
  width: 100%;
  padding: 10px;
}

.login-input{
  display:block;
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
  border:none;
}

nav{
 
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: white;

  
  
}

.menu-icon{
  width: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  cursor: pointer;
  padding: 5px;
}

nav ul{
  list-style-type: none;
  text-align: left;
  padding: 10px
}

nav li{
  
position: relative;
}

nav a, .submit-btn{
  padding: 15px 5px;
  display: block;
  border: 2px solid dodgerblue;
  margin: 5px 0;
  border-radius: 10px;
  transition: ease-in;
  transition-duration: 150ms;
  font-family:'Segoe UI', Tahoma, Verdana, sans-serif;  
  color: dodgerblue;
  width: 100%;
}

nav a:hover, .submit-btn:hover{

  color:white;
  background-color: dodgerblue;
  text-decoration: none;
}


.link-icon{
  width: 25px;
 position: absolute;
 margin-right: 5px;
 right: 0;
 top: 50%;
 transform: translateY(-50%);
}

#logout-btn{
margin-top: 50vh;
}

.nav-logo{

color: dodgerblue;
padding: 50px;
}

.submit-btn{
  margin: 10px 0;
}



.posts-heading-container{

  border-radius: 10px;
  position: relative;
  margin-bottom: 50px;
}

.posts-heading{
  text-align: center;
  color: whitesmoke;
  text-decoration: underline;
  padding: 15px;
  border-radius: 15px;
  background: #00d2ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  top: 0;
  left: 0;
  width: 100%;
}

.header-img{
  width: 100px;
  position: absolute;
 top: 50%;
 left: 75%;
  background-color: white;
  padding: 10px;
  border-radius: 50%;
  border: 1px solid dodgerblue;
  transform: translate(-50%,-50%);
 }

.posts-slogan{
  margin-bottom: 50px;
  padding: 10px;
  font-family: 'Pacifico', cursive;
  text-align: left;
}



.fade-in-fwd {
	-webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}


@media only screen and (max-width: 600px) {

  .main-page{
    width: 300px;
  }

  .post-container{
    text-align: center;
  }

  .posts-heading{
    text-align: left;
  }

  .profile-name{
    display: block;
  }
}